/* Start Box  */
.flex{
    display: flex;
}
/* End Box  */
/* Start Padding and Margin */
.p-20{
    padding:20px;
}
.m-20{
    margin:20px
}
.mr-10{
    margin-right:10px
}
.ml-10{
    margin-right:10px
}
/* End Padding and Margin */
/* Start Color  */
.bg-white{
    background-color: white;
}
.bg-orange{
    background-color: #f59e0b
}

/* End Color  */
/* Start Positon */
.p-relative{
    position: relative;
}
/* End Positon */
/* Start Components  */
@media (max-width:767px){
    .hide-mobile{
        display: none;
    }
    .txt-c-mobile{
        text-align: center;
    }
}
.center-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.between-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.border-eee{
    border:1px solid #eee
}
.border-t-eee{
    border-top:1px solid #eee
}
.border-b-eee{
    border-bottom:1px solid #eee
}
/* End Components  */
.fs-13{
    font-size:13px
}
.fs-12{
    font-size:12px
}
.w-full{
    width:100%
}
.w-100px{
    width:100px
}
.h-full{
    height:100%
}
.h-100{
    height:100px
}